[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
tweepy = "==3.10.0"
fastai = "==1.0.60"
transformers = "==2.7.0"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.7"
